/*standard page correction stuff*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*setting font and background color*/
body {
    background: #efeee7;
    font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}
/*header styling starts here*/
header{
    background-color: black;
    padding: 15px 30px;
}
/*adjustment of h1 in header*/
header h1{
    font-size: 38px;
    color: white;
    font-weight: bold;
    padding: 25px 0;
   text-align: center;
}
/*making the navigation links not look like links*/
header a{
    text-decoration: none;
    color: white;
}
header nav{
    margin: 7px 0;
}
/*setting up navigation elements with spacing*/
header nav ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
}
.about {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 20px;
    border-bottom: 2px solid black;
}
.about p {
    width: 70%;
    text-align: left;
    margin: 5px;
    font-size: 24px;
    line-height: 1.5;
}
.about img {
    height: 250px;
    width: 250px;
    margin-top: 10px;
    box-shadow: 2px 2px rgba(0,0,0,.3)
}
.project {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.project h2 {
    font-size: 32px;
    text-align: center;
    border-bottom: 2px solid black;
    margin-bottom: 5px;
}
.project-bio {
    padding: 25px;
    overflow: auto;
    line-height: 1.3;
}
.project img{
    margin-top: 10px;
    box-shadow: rgba(0,0,0,0.2) 10px 10px;
    width: 600px;
    height: 350px;
}
.project img:hover{
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 10px 10px rgba(145, 92, 182, .5);
}
.project p{
    font-size: 24px;
}
.otherprojects {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.otherprojects p{
    font-size: 18px;
    margin-bottom: 5px;
}
.otherprojects h2{
    font-size: 28px;
    text-align: center;
    border-bottom: 2px solid black;
    margin: 10px auto;
}
.otherprojects img{
    margin-top: 20px;
    box-shadow: rgba(0,0,0,0.2) 10px 10px;
}
.otherprojects img:hover{
     color: rgba(255, 255, 255, 1);
     box-shadow: 0 10px 10px rgba(145, 92, 182, .5);
}
.project2-bio, project3-bio, project4-bio, project5-bio {
    padding: 25px;
    overflow: auto;
    line-height: 1.3;
}
footer {
    background-color: black;
    padding: 15px 25px;
}
footer h1 {
    font-size: 38px;
    color: white;
    font-weight: bold;
    padding: 25px 0;
    text-align: center;
}
footer ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    color: white;
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
}
footer a{
    text-decoration: none;
    color: white;
}
@media screen and (max-width: 980px) {
  
}
@media screen and (max-width: 768px) {
 
}
@media screen and (max-width: 575px) {
 
}