/*standard page correction stuff*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*setting font and background color*/
body {
    background: #efeee7;
    font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}
/*header styling starts here*/
header{
    background-color: black;
    padding: 15px 30px;
}
/*adjustment of h1 in header*/
header h1{
    font-size: 38px;
    color: white;
    font-weight: bold;
    padding: 25px 0;
    display:  inline-block;
    position: relative;
    margin-left: 5px;
}
/*making the navigation links not look like links*/
header a{
    text-decoration: none;
    color: white;
}
header nav{
    margin: 7px 0;
}
/*setting up navigation elements with spacing*/
header nav ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
}

